body {
	background-color: hsl(0, 0%, 95%);
}

button {
	background-color: hsl(0, 0%, 95%);
	width: 100px;
	height: 35px;
	border-radius: 15px;
	border: none;
	margin-top: 70px;
	cursor: pointer;
}

#botonNaranja {
	color: hsl(31, 77%, 52%);
}

#botonCyan {
	color: hsl(184, 100%, 22%);
}

#botonDarkCyan {
	color: hsl(179, 100%, 13%)
}

h1 {
	color: hsl(0, 0%, 95%);
	font-size: 25px;
}

p {
	color: hsl(0, 0%, 95%);
	font-size: 13px;

}

#contenedorPrincipal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 50px;
	min-width: 750px;

	
}


.contenedorSecundario {
	width: 150px;
	height: 300px;
	padding: 40px;

}
	#naranja {
		background-color: hsl(31, 77%, 52%);
		border-radius: 10px 0 0 10px;
		
	}

	#cyan {
		background-color: hsl(184, 100%, 22%);
		
	}

	#darkCyan {
		background-color: hsl(179, 100%, 13%);
		border-radius: 0 10px 10px 0;

	}

	@media (max-width: 800px) {
		#contenedorPrincipal {
			display: flex;
			flex-direction: column;
			align-items: center;
			min-width: 20px;
			
			

		}

		#naranja {
			border-radius: 10px 10px 0 0;
		
		}

		#darkCyan {
			border-radius: 0 0 10px 10px;
		}


}

